@import url(__fonts.scss);
@import url(_normalize.scss);
@mixin jost {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
} ;
@mixin notoserif {
    font-family: 'Noto Serif Display';
    font-style: normal;
    font-weight: 400;
};
@mixin common_wrapper {
    max-width: 85%;
    margin: 0 auto;
}
header.header{
    padding: 0 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
        .logo{
            margin: 0 auto 0 0;
            padding: 34px 0 38px 0;
        }
        .header_navigation{
            display: flex;
            gap: 40px;
                li a{
                    @include jost();
                    font-size: 19px;
                    line-height: 30px;
                    letter-spacing: 0.4px;
                    color: #292F36;
                        &:hover{
                            color: rgba(205, 162, 116, 1);
                        }
                }
        }
}



@mixin ugly_button ($bg-color, $img_adress){
    padding: 22px 71px 22px 34px;
    background: $img_adress no-repeat right 20px center;
    background-color: $bg-color;
    border-radius: 18px;
        a{
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0.72px;
            color: #FFFFFF;
            @include jost();
            &:hover{
                opacity: 70%;
            }
        }
}

//section after header start
.section1{
    height: 831px;
    background: url(../img/pic2.jpg) no-repeat;
    background-size: 100% 831px;
        .section_content{
            @include common_wrapper();
        }
        h1{
            padding-top: 188px;
            @include notoserif();
            max-width: 595px;
            font-size: 80px;
            line-height: 96px;
            letter-spacing: 0.22px;
            color: #292F36;
            margin-bottom: 19px;
            z-index: 3;
        }
        p{
            max-width: 577px;
            font-size: 22px;
            line-height: 33px;
            @include jost();
            letter-spacing: 0.22px;
            color: #4D5053;
            margin-bottom: 35px;
            z-index: 3;
        }
        button{
            @include ugly_button(rgba(41, 47, 54, 1), url(../img/svg/black_arrow.png));
            z-index: 3;
        }
}
//section after header end


//section with three columns start
.three_columns_div{
    padding-top: 175px;
    max-width: 80%;
    margin: 0 auto;
    .three_columns_frame{
        display: flex;
        justify-content: space-between;
        gap: 20px;
            .column{
                h3{
                    margin-bottom: 17px;
                    font-size: 25px;
                    line-height: 39px;
                    text-align: center;
                    letter-spacing: 0.22px;
                    color: #292F36;
                    @include notoserif();
                }
                p{
                    max-width: 317px;
                    margin-bottom: 35px;
                    font-size: 22px;
                    line-height: 33px;
                    text-align: center;
                    letter-spacing: 0.22px;
                    color: #4D5053;
                    @include jost();
                }
                .view_more{
                    display: flex;
                    width: fit-content;
                    align-items: center;
                    justify-content: center;
                    gap: 9px;
                    margin: 0 auto;
                        a{
                        @include jost();
                        font-size: 18px;
                        line-height: 27px;
                        text-align: center;
                        letter-spacing: 0.36px;
                        color: #4D5053;
                        margin: 0 auto;
                            &:hover{
                                opacity: 70%;
                            }
                        }
                        img{
                            height: 16px;
                            width: 22px;  
                        }

                }
            }
    }
}
//section with three columns end

//SECTION 2 start (We Tackle The Most Challenging Designs)
.section2{
    padding-top: 170px;
    @include common_wrapper();
    display: flex;
    justify-content: space-between;
    gap: 30px;
        .text_side{
            h2{
                margin-top: 40px;
                max-width: 800px;
                margin-bottom: 42px;
                font-size: 50px;
                line-height: 65px;
                letter-spacing: 0.22px;
                color: #292F36;
                @include notoserif();
            }
            .desc{
                max-width: 800px;
                margin-bottom: 40px;
                @include jost();
                font-size: 22px;
                line-height: 33px;
                letter-spacing: 0.22px;
                color: #4D5053;
            }
            .phone_container{
                display: flex;
                margin-bottom: 50px;
                    .phone_ico{
                        display: flex;
                        background: #F4F0EC;
                        border-radius: 100px;
                        width: 93px;
                        height: 93px;
                        justify-content: center;
                        align-items: center;
                        margin-right: 20px;
                    }
                    .text{
                        h4{
                            font-size: 24px;
                            line-height: 36px;  
                            letter-spacing: 0.22px;
                            @include jost();
                            color: #4D5053;
                        }
                        p{
                            font-size: 22px;
                            line-height: 33px;
                            letter-spacing: 0.22px;
                            color: #4D5053;
                            @include jost();
                        }
                    }
                }
                .get_free_btn{
                    button{
                        @include ugly_button(rgba(41, 47, 54, 1), url(../img/svg/black_arrow.png));
                    }
            }
        }
        margin-bottom: 140px;
}
//SECTION 2 end


//SECTION3
//what people think about interno start
.section3{
    margin-bottom: 140px;
    .section3_wrapper{
        @include common_wrapper();
        background: #F4F0EC;
        border-radius: 70px;
        padding: 103px 51px 121px 51px;
            h3{
                @include notoserif();
                font-size: 45px;
                line-height: 58px;
                text-align: center;
                letter-spacing: 0.22px;
                color: #292F36;
                max-width: 500px;
                margin: 0 auto;
                padding-bottom: 47px;
            }
            .people_cards{
                display: flex;
                gap: 18px;
                justify-content: space-between;
                .person_card{
                    padding: 0 35px;
                    background: #FFFFFF;
                    border-radius: 30px;
                    .person_info{
                        display: flex;
                         padding-top: 50px;
                        .text_info{
                            margin-bottom: 25px;
                            margin-left: 20px;
                            .name{
                                font-size: 25px;
                                line-height: 38px;
                                letter-spacing: 0.22px;
                                color: #292F36;
                                @include notoserif();
                            }
                            .location{
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: 0.22px;
                                color: #4D5053;
                                @include jost();
                            }
                        }
                    }
                    .text{
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 0.22px;
                        @include jost();
                        color: #4D5053;
                        max-width: 274px;
                        margin-bottom: 45px;
                    }
                }
            }
    }
}
//what people think about interno end


// BRANDS start
.brands{
    @include common_wrapper();
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 113px;
}


@mixin recent_hat {
    h5{
        font-size: 47px;
        line-height: 62px;
        text-align: center;
        letter-spacing: 0.22px;
        color: #292F36;
        @include notoserif();
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 71px;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.22px;
        color: #4D5053;
        @include jost();
    }
}
// BRANDS end

//recent projects grid start
.section4{
    @include common_wrapper();
    .text_side{
        @include recent_hat();
    }
    .projects_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 61px;
        grid-column-gap: 20px;
        .project_card{
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 590px;
                .image_info{
                    display: flex;
                    justify-content: space-between;
                        .project_info{
                            h6{
                                font-size: 24px;
                                line-height: 38px;
                                letter-spacing: 0.22px;
                                color: #292F36;
                                @include notoserif();
                            }
                            .genre{
                                font-size: 22px;
                                line-height: 33px;
                                letter-spacing: 0.22px;
                                color: #4D5053;
                                @include jost();
                            }
                        }
                }
        }
        .card2 , .card4{
            justify-self: end;
        }
    }
    margin-bottom: 140px;
}
//recent projects grid end

//stat numbers start
.stat_numbers{
    background: #F4F0EC;
    margin-bottom: 143px;
        .stat_numbers_wrapper{
            width: 85%;
            display: flex;
            justify-content: space-between;
            background: #F4F0EC;
            margin: 0 auto;
            padding-top: 140px;
            padding-bottom: 140px;
        }
        .stat_element{
            .number{
                margin-bottom: 10px;
                font-size: 85px;
                line-height: 128px;
                text-align: center;
                letter-spacing: 1.7px;
                color: #CDA274;
                @include notoserif();
            };
            .text{
                font-size: 22px;
                line-height: 33px;
                text-align: center;
                letter-spacing: 0.22px;
                color: #4D5053;
                @include jost();
            }
        }
        .line{
            background: #CDA274;
            display: block;
            width: 1px;
            height: 195px;
        }
}
//stat numbers end

//recent blogs section start
.section5{
    max-width: 95%;
    margin: 0 auto;
    .recent_hat{
        @include recent_hat();
    }
    .section5_grid_cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 61px;
        margin-bottom: 141px;
        .section5_card{
            justify-self: center;
            border: 1px solid #E7E7E7;
            border-radius: 62px;
            padding: 21px;
            width: fit-content;
            .img_side{
                margin-bottom: 15px;
                position: relative;
                .img_text{
                    display: block;
                    position: absolute;
                    bottom: 29px;
                    left: 24px;
                    background: #FFFFFF;
                    border-radius: 8px 8px 8px 0px;
                    padding: 10px;
                        p{
                            @include jost();
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.22px;
                            color: #4D5053;
                        }
                }
            }
            h6{
                font-size: 25px;
                line-height: 35px;
                @include notoserif();
                letter-spacing: 0.5px;
                color: #292F36;
                margin-bottom: 20px;
                max-width: 330px;
            }
            .arrow_and_date_flex{
                display: flex;
                justify-content: space-between;
                align-items: center;
                    .date{
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.22px;
                        @include jost();
                        color: #4D5053;
                    }
                    img{
                        height: 52px;
                        width: 52px;
                    }
                margin-bottom: 20px;
            }
        }
    }
}
//recent blogs section end


//wanna join section start
.section6{
    margin-bottom: 138px;
    .section6_wrapper{
        max-width: 90%;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 95px;
        background: #292F36;
        border-radius: 70px;
            h4{
                font-size: 50px;
                line-height: 75px;
                text-align: center;
                letter-spacing: 0.22px;
                color: #FFFFFF;
                @include notoserif();
                margin-bottom: 9px;
            }
            p{
                font-size: 22px;
                line-height: 33px;
                @include jost();
                text-align: center;
                letter-spacing: 0.22px;
                color: #FFFFFF;
                margin-bottom: 31px;
            }
            button{
                padding: 22px 34px;
                background-color:#CDA274;
                border-radius: 18px;
                margin: 0 auto;
                display: block;
                    a{
                        font-size: 18px;
                        line-height: 27px;
                        letter-spacing: 0.72px;
                        color: #FFFFFF;
                        @include jost();
                        &:hover{
                            opacity: 70%;
                        }
                    }
            }
    }
}
//wanna join section end

// pre-footer start
.pre-footer{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
        .inferno_column{
            .logo{
                margin-bottom: 23px;
            }
            p{
                font-size: 22px;
                line-height: 33px;
                @include jost();
                max-width: 325px;
                letter-spacing: 0.22px;
                color: #4D5053;
                margin-bottom: 30px;
            }
            .social_medias_flex{
                display: flex;
                justify-content: flex-start;
                gap: 40px;
            }
        }

        .pages_column, .explore{
            display: flex;
            flex-direction: column;
            gap: 30px;
                .main{
                    font-size: 25px;
                    line-height: 38px;
                    letter-spacing: 0.22px;
                    color: #292F36;
                    @include notoserif();
                }
                li{
                    font-size: 22px;
                    line-height: 33px;
                    @include jost();
                    letter-spacing: 0.22px;
                    color: #4D5053;
                }
        }

        .contact{
            display: flex;
            flex-direction: column;
            gap: 30px;
                p.contact{
                    font-size: 25px;
                    line-height: 38px;
                    @include notoserif();
                    letter-spacing: 0.22px;
                    color: #292F36;
                }
                p{
                    font-size: 22px;
                    line-height: 33px;
                    @include jost();
                    letter-spacing: 0.22px;
                    color: #4D5053;
                }
                .adress{
                    max-width: 315px;
                }
        }

}
// pre-footer end

//footer start
footer{
    margin-top: 111px;
    border-top: rgba(229, 229, 229, 1) solid 1px;
        .footer_wrapper{
            padding-top: 35px;
            padding-bottom: 35px;
            width: fit-content;
            display: flex;
            gap: 6px;
            margin: 0 auto;
                p{
                    @include jost();
                    font-size: 22px;
                    line-height: 33px;
                    letter-spacing: 0.22px;
                    color: #4D5053;
                }
                a{
                    font-size: 22px;
                    line-height: 33px;
                    @include jost();
                    letter-spacing: 0.22px;
                    color: #CDA274;
                }
        }

}
//footer end